<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>first</name>
  <description></description>
  <remoteFS>D:\app\testing\lab1\gitDemo\lab5\slave</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <workDirPath>D:\app\testing\lab1\gitDemo\lab5\slave</workDirPath>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>false</webSocket>
  </launcher>
  <label>wi1</label>
  <nodeProperties/>
</slave>